
/* Extra visual upgrades for Attendance table */
.table-style td {
  text-align: left;
  transition: background .23s;
}

.table-row-present td {
  background: linear-gradient(90deg, #eaffed 0%, #e3fff5 100%);
  color: #23ac71;
}

.table-row-missed td {
  background: linear-gradient(90deg, #ffe1be 0%, #fff5e8 100%);
  color: #e39a26;
}

.table-row-absent td {
  background: linear-gradient(90deg, #fcf7e6 0%, #fee8d8 100%);
  color: #dea33b;
}
.table-row-absent td:last-child {
  color: #d77e16;
  font-weight: bold;
}

.table-style tr:hover td {
  filter: brightness(1.07);
}

@media (max-width: 600px) {
  .table-style th, .table-style td {
    padding: 7px 2vw;
    font-size: 0.93rem;
  }
}
